<footer id="footer" style="width: 100%;" th:fragment="footer">
    <hr>
    <table style="width: 100%;">
        <tr style="width: 33.33%; font-size: 11px;">
            <td th:text="'Sitz der Genossenschaft: Stuttgart'"></td>
            <td th:text="'Steuer-Nr. 99013 / 07155'"></td>
            <td style="text-align: right;" th:text="'Vorstand: Rainer Böttcher, Benjamin Jutrzinski'"></td>
        </tr>
        <tr style="width: 33.33%; font-size: 11px;">
            <td th:text="'Registergericht: Amtsgericht Stuttgart'"></td>
            <td th:text="'Ident Nr. DE 147 800'"></td>
            <td style="text-align: right;" th:text="'Aufsichtsratsvorsitzende: Dr. Andrea'"></td>
        </tr>
    </table>
</footer>